@using Microsoft.AspNetCore.Mvc.Rendering
@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customer != null)
{
    <h2>Edit Customer</h2> 
    ViewData["Title"] = "Edit";
}
else
{
<h2>New Customers</h2>
}

@using (Html.BeginForm("Save", "Customer"))
{

<div class="form-group">
    @Html.LabelFor(m => m.Customer.FirstName, "First name")
    @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.LastName, "Last name")
    @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" } )
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.BirthDate, "Date of Birth")
    @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" } )
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.MembershipType, "Membership Type")
    @Html.DropDownListFor(m => m.Customer.MembershipType, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" } )
</div>
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
    </label>
</div>

@Html.HiddenFor(m => m.Customer.CustomerId)
<button type="submit" class="btn-primary">Save</button>
}



